
## ESSENTIAL PARAMETERS:
max_ee=1.0
min_size=5
uchime_db=/home/luolab/dbs/gold.fa
min_samples=2
tax_min_frac=0.00005

## NON ESSENTIAL PARAMETERS [these parameters can be commented out and the respective defaults will be used]:
# edit parameters 'ref_db' and 'ref_tax' to use alternate taxonomy databases for assignment #
ref_db=/home/luolab/dbs/CIP_16S_05252017.fasta
ref_tax=/home/luolab/dbs/CIP_16S_05252017.tax

# edit following parameters to modify threshold of taxonomic assignment using the default uclust algorithm #
# DO NOT use this in conjunction with the "e_val" parameter described below #
# min_consensus_fraction=0.2
# similarity=0.1

# edit following parameters to use blast for assigning taxonomy instead of the default uclust #
# DO NOT use this in conjunction with the "min_consensus_fraction" and "similarity" parameters described above #
# e_val=0.001
